@charset "UTF-8";
.media {
  border-top: 1px solid #bdbfbf;
  padding-top: 20px;
}
.media img {
  margin-right: 20px;
}
.media .nombre {
  color: red;
  margin-bottom: 0;
  margin-right: 200px;
  display: row;
}
.media .nombre span {
  font-size: 12px;
  color: aliceblue;
  margin-left: 10px;
}
.media .comentario {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: aliceblue;
}
.media .botones {
  border-radius: 20px;
  border-color: black;
  margin-bottom: 10px;
}
.media .botones a {
  color: #acacac;
  font-size: 14px;
  margin-left: 20px;
}

body {
  background-image: linear-gradient(178.6deg, rgb(124, 143, 161) 11.8%, rgb(20, 36, 50) 83.8%);
  width: 1920;
  height: 762;
}
body .social {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
body h1 {
  text-align: center;
  color: aliceblue;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
body .parrafo {
  font-size: 1.5rem;
}
body h2 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 5rem;
}
body p {
  text-align: center;
  color: aliceblue;
  margin-bottom: 5rem;
}
body #menu {
  background: rgb(232, 224, 227);
  background: radial-gradient(circle, rgb(232, 224, 227) 0%, rgb(163, 164, 175) 100%);
}
body #menu .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body .animate_bouncein {
  animation-name: bounceIn;
  animation-duration: 3s;
}
body .centrar_imagen, body .centrar_imagen .formato_imagen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}
body .centrar_imagen .formato_imagen {
  width: 400px;
  height: 300px;
}
body .comentarios {
  margin: 20px 0;
}
body .form_comentarios textarea {
  width: 100%;
  height: 84px;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  border: 1px solid #4b65d1;
  margin-bottom: 20px;
}
body .form_comentarios .btn {
  background: #4b65d1;
  font-family: "Roboto", sans-serif;
  border-radius: 0;
  color: #fff;
  margin-bottom: 20px;
}
body .perfil {
  width: 64px;
  height: 64px;
}
body .form_comentarios .btn:hover {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.35);
}
body ul {
  color: aliceblue;
  text-align: center;
}
body ul li {
  list-style: none;
}
body .Bordes_Redondeados {
  display: flex;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}
body .flex_box {
  width: 100px;
  height: 20px;
  margin: auto;
  justify-content: center;
  transform: translate(-40px);
}
body .flex_imagenes {
  margin: auto;
  justify-content: center;
}
body footer {
  color: aliceblue;
  text-align: center;
  background-image: linear-gradient(110.3deg, rgb(73, 93, 109) 4.3%, rgb(49, 55, 82) 96.7%);
  margin-top: 2rem;
  font-size: none;
}
body #grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "columna1" "texto" "columna2";
}
body .columna1 {
  list-style: none;
  color: aliceblue;
  list-style: none;
  text-align: center;
}
body .texto {
  list-style: none;
  color: aliceblue;
  list-style: none;
}
body .columna2 {
  list-style: none;
  color: aliceblue;
  text-align: center;
  justify-content: left;
}
body #cotizacion_grilla {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
body .formato_boton {
  background-color: aliceblue;
  width: 150px;
  height: 20px;
  text-align: center;
}
body .formato_lista {
  width: 200px;
  height: 300px;
}
body .formato_lista_ {
  border: 20px;
  border-color: beige;
  border-radius: 20px;
  width: 200px;
  height: 300px;
}
body .card {
  border: none;
  outline: none;
  border-radius: 20px;
  transition: transform 0.3s;
}
body .card .card:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}
body .posicion_botones {
  border-radius: 20px;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
body .dia {
  font-style: normal;
}
body .formulario {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
@keyframes rotar_logo {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@media screen and (max-width: 600px) {
  body .display-media {
    display: none;
  }
  body .titulo {
    text-align: center;
  }
  body .logo {
    display: none;
  }
  body .Bordes_Redondeados {
    border-radius: 50px;
    display: flex;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    text-align: center;
    justify-content: right;
    animation-name: fadeIn;
    animation-duration: 10s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-color: black;
    width: 100%;
  }
  body .mobile_tamaño {
    text-align: center;
  }
  body .animate_bouncein {
    position: relative;
  }
}

/*# sourceMappingURL=estilos.css.map */
